aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
.deps
fontview
*.gmo
INSTALL
install-sh
Makefile
Makefile.in
Makefile.in.in
missing
*.o
POTFILES
stamp-h1
stamp-it
